<div class="container" style="width:100px;height:100px;border:1px solid; background-color: gray; "></div>
<app-turret></app-turret>
<app-turret></app-turret>
<app-laser-cannon></app-laser-cannon>
<app-turret></app-turret>
<app-turret></app-turret>