<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    !!{{ title }}!!!
    <app-death-square></app-death-square>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
    <app-tie-fighter></app-tie-fighter>
  </h1>
 </div>
 <router-outlet></router-outlet>


